<div class="search-header">
  <mat-form-field style="width:300px">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    <mat-icon matSuffix class="gray-icon">search</mat-icon>
  </mat-form-field>

  <div class="button-row float-right">
    <!-- <button mat-icon-button>
      <mat-icon class="gray-icon">refresh</mat-icon>
    </button> -->
    <button mat-mini-fab color="accent">
      <mat-icon>add</mat-icon>
    </button>

  </div>
</div>

<div class="table-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container *ngFor="let item of title">
      <ng-container [matColumnDef]="item.key">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{item.label}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row[item.key]}} </mat-cell>
      </ng-container>
    </ng-container>


    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button>
          <mat-icon class="gray-icon">check_circle</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="gray-icon">close</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="gray-icon">file_download</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>
  <div *ngIf="isLoadingResults" class = "spinner-container">
    <mat-spinner></mat-spinner>
  </div>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>