.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.search-header {
  min-height: 64px;
  padding: 8px 24px 0;
  margin-top: 20px;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

mat-row:hover {
  background-color: #fafafa;
}

.gray-icon {
  color: rgba(0, 0, 0, 0.54);
}

.gray-icon:hover {
  color: rgba(0, 0, 0, 0.87);
}

.spinner-container {
  margin:15px auto;
}
