mat-toolbar {
  justify-content: space-between;
}

.toolbar-spacer{
  flex:1 1 auto;
  -ms-flex:1 1 auto;
}
.title-spacer{
  flex:1 1 auto;
}

.snav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

mat-sidenav {
  width: 180px;
  background-color:rgb(25, 33, 43);
  color:#fff;
}

mat-nav-list {
  color:#fff;
}



.sidenav-container{
    margin:0 20px;
}